In [6]:
print("Hello")

Hello

In [8]:
a=11

In [9]:
a+1

12

In [12]:
a=+1

In [17]:
len("BSE")

3

In [12]:
a=15
b=2
c=2
'%i divided by %i is %.2f, and it is %s that this is greater than %i' % (a, b , a/b, (a/b)>c,c) #old way to format

'15 divided by 2 is 7.50, and it is True that this is greater than 2'

In [21]:
f'{a} divided by {b} is {a/b:.2f} and it is {(a/b)>c} that this is greater than {c}'  #so you just put a comma at end
#this is the new format

'15 divided by 2 is 7.50 and it is True that this is greater than 2'

SyntaxError: unterminated string literal (detected at line 1) (1982399064.py, line 1)

In [26]:
x=10
y=x!=8
y

True

In [1]:
gender = 'female'
age = 20

if gender == "female":
    if age>=18:
        print("Woman")
    else:
        print ("Girl")
        
elif gender == ("male"):
    if age>=18:
        print("man")
    else:
        print("boy")
        
else:
    print(gender)

Woman

In [2]:
#Question 1 intropython
x=9
if x>5:
    print("high")
elif x<5:
    print("low")
    
else:
    print("error")

high

In [25]:
ages = [1,2,5,10,None]

type(ages[1])

for x in ages:
    if type(x)==int:
        print('The age is %i' % x) #need to use f' to start...
              
    else:
              print('Not an age')

The age is 1
The age is 2
The age is 5
The age is 10
Not an age

In [51]:
ages = [1,2,5,10,None]
ages.pop() #removes the last element
ages
new_ages = [99,34]
ages = ages + new_ages
ages

[1, 2, 5, 10, 99, 34]

In [56]:
sum(ages) #could do less succintly using for loop

min(ages)#finds min

1

In [55]:
squared_nums = [x**2 for x in ages]
squared_nums

#best way can basically stick for loop into defintion

[1, 4, 25, 100, 9801, 1156]

In [59]:
filtered_squares = [x for x in squared_nums if x<=100 ] #also with an if fxn
filtered_squares

[1, 4, 25, 100]

In [60]:
nums = [30, None, 4, 45, None, 98]

NoneType

In [63]:
#can use tuples which are different to lists
my_tuple = ("BSE", 10)  #tuples are different as they are fixed lenght, cant change without recreating

name, num = my_tuple
#an advantage is being able to destructure i.e pull out elements

'BSE'

In [72]:
scoreboard = {("Anna", 100),("Bob", 87), ("Jim",71)}
for name, score in scoreboard:
    print(f"{name}'s score was {score}") #note have to use double commas

Anna's score was 100
Jim's score was 71
Bob's score was 87

In [74]:
#infinity

import math
-math.inf

-inf

In [77]:
#if our data is more complicated than a pair, triple etc
#and the position doesnt matter (ie order doesnt matter) then we can use a dictionary

player = {"name": "Bob", "score": 100}

player["name"]

'Bob'

In [79]:
#can modify
player["name"] = "Bobby"
player["name"]


#note cant do like player[0] do get first entry as order doesnt matter

'Bobby'

In [ ]:
#example in notes but you can make a list of dictionaries

In [81]:
#can make new classes, ie new type of object (int, NoneType etc...)

class MySimpleClass:
    pass #doesnt do anything used as placeholder

class_1 = MySimpleClass()
type(class_1) #so class_1 is an instance of the type MySimpleClass

__main__.MySimpleClass